<style>
    p {
        font-family: Arial, Helvetica, sans-serif;
        padding: 20px;
    }
    .font{
        font-family: 'Times New Roman', Times, serif;
        color: rgb(97, 97, 190);
        background-color: pink;
    }
</style>

<p id="content">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum eum facilis earum nemo, aspernatur nesciunt modi
    numquam quibusdam totam alias autem, dolor maiores, dignissimos architecto nobis adipisci ipsa facere at?
</p>

<button onclick="changeFont()">Chuyển font</button>

<script src="../dist/index.js"></script>