<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>    
        <label for="num1">Nhập số 1:</label>
        <br>
        <input type="number" id="num1">
    </div>
    <div>
        <label for="num2">Nhập số 2:</label>
        <br>
        <input type="number" id="num2">
    </div>
    <button onclick="tinhTongHop()">Tính</button>
    <button onclick="signOut()">Đăng xuất</button>
    <br>
    <br>
    <br>
    <hr>
    <div>    
        <label for="themSo">Nhập số vào mảng:</label>
        <br>
        <input type="number" id="themSo">
        <button onclick="addNum()">Thêm số</button>
        <button onclick="calNum()">Tính tổng số chẵn</button>
    </div>
    <p id="array"></p>
    <p id="content"></p>
    <br>
    <br>
    <br>
    <hr>
    <div>
        <button onclick="subcrise()">Đăng ký</button>
    </div>
    <script src="../dist/index.js"></script>
</body>
</html>